<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预测模型演示系统</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-5/css/bootstrap.css">
    <script src="/static/plugins/bootstrap-5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-4"><h1>预测模型演示系统</h1></div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                数据处理
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button" onclick="redirectToUpload()">数据导入</button>
                                    <button class="btn btn-primary" type="button">原始数据展示</button>
                                    <button class="btn btn-primary" type="button">数据预处理</button>
                                    <button class="btn btn-primary" type="button">处理后数据展示</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                线性回归模型
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">开始预测</button>
                                    <button class="btn btn-primary" type="button">预测对比图</button>
                                    <button class="btn btn-primary" type="button">残差图</button>
                                    <button class="btn btn-primary" type="button">散点图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                lasso回归模型
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">开始预测</button>
                                    <button class="btn btn-primary" type="button">预测对比图</button>
                                    <button class="btn btn-primary" type="button">残差图</button>
                                    <button class="btn btn-primary" type="button">散点图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                时间序列模型
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">开始预测</button>
                                    <button class="btn btn-primary" type="button">预测对比图</button>
                                    <button class="btn btn-primary" type="button">残差图</button>
                                    <button class="btn btn-primary" type="button">散点图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                bp神经网络模型
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">开始预测</button>
                                    <button class="btn btn-primary" type="button">预测对比图</button>
                                    <button class="btn btn-primary" type="button">残差图</button>
                                    <button class="btn btn-primary" type="button">散点图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                综合比较
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">综合对比图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">

        </div>
    </div>
    </div>
<script>
    function redirectToUpload() {
        // 跳转到指定页面
        window.location.href = "/upload/";
    }
</script>
</body>
</html>